{% capture content %}
    <div class="introduction">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        <!-- <ul>
            <li>+41 76 680 90 20</li>
            <li>elias.steiner@gmx.ch</li>
            <li>Langfurrenstrasse 25, 8623 Wetzikon (CH)</li>
            <li>eliassteiner1.github.io/portfolio</li>
            <li>linkedin?</li>
        </ul> -->

    </div>
{% endcapture %}

<!-- fills all content into the reusable container with header -->
{% 
    include basecontainer.html
    title=include.title
    content=content
%}