
<div class="timeline">
    <div class="timeline-header">Work Experience</div>

    <div class="timeline-item">
        <div class="timeline-date">2025-2026</div>
        <div class="timeline-track">
            <div class="timeline-line"></div>
            <div class="timeline-dot"></div>
        </div>
        <div class="timeline-contentbox">
            <div class="timeline-title">Civil Service</div>
            <div class="timeline-loc">
                Balgrist Campus
                <div class="timeline-locicon"></div>
            </div>
            <div class="timeline-desc">Working on various projects related to medical robotics with a strong focus on computer vision and dataset procuration for publications</div>
        </div>
    </div>

    <div class="timeline-item">
        <div class="timeline-date">2023-2025</div>
        <div class="timeline-track">
            <div class="timeline-line"></div>
            <div class="timeline-dot"></div>
        </div>
        <div class="timeline-contentbox">
            <div class="timeline-title">Student-Job: Data Analysis coul be Longer</div>
            <div class="timeline-loc">
                Sensirion Stäfa
                <div class="timeline-locicon"></div>
            </div>
            <div class="timeline-desc">Data analysis with Python for a methane gas emission detection system for crude oil production sites</div>
        </div>
    </div>

    <div class="timeline-item">
        <div class="timeline-date">2023-2024</div>
        <div class="timeline-track">
            <div class="timeline-line"></div>
            <div class="timeline-dot"></div>
        </div>
        <div class="timeline-contentbox">
            <div class="timeline-title">Student-Job: Data Analysis</div>
            <div class="timeline-loc">
                ABACUS Nachhilfe
                <div class="timeline-locicon"></div>
            </div>
            <div class="timeline-desc"></div>
        </div>
    </div>

    <div class="timeline-item subitem">
        <div class="timeline-date">2022</div>
        <div class="timeline-track">
            <div class="timeline-line"></div>
            <div class="timeline-dot"></div>
        </div>
        <div class="timeline-contentbox">
            <div class="timeline-title">Role: just worked as a Junior</div>
            <div class="timeline-loc">
                ABACUS Nachhilfe
                <div class="timeline-locicon"></div>
            </div>
            <div class="timeline-desc">Individual tutoring for high school students (Physics & Mathematics)</div>
        </div>
    </div>

    <div class="timeline-item subitem">
        <div class="timeline-date">2023</div>
        <div class="timeline-track">
            <div class="timeline-line"></div>
            <div class="timeline-dot"></div>
        </div>
        <div class="timeline-contentbox">
            <div class="timeline-title">Role: here I worked as Intern</div>
            <div class="timeline-loc">
                ABACUS Nachhilfe
                <div class="timeline-locicon"></div>
            </div>

            <div class="timeline-desc">Individual tutoring for high school students (Physics & Mathematics)</div>
        </div>
    </div>

    <div class="timeline-item">
        <div class="timeline-date">2020-2024</div>
        <div class="timeline-track">
            <div class="timeline-line"></div>
            <div class="timeline-dot"></div>
        </div>
        <div class="timeline-contentbox">
            <div class="timeline-title">Teaching Assistant</div>
            <div class="timeline-loc">
                ETH Zürich
                <div class="timeline-locicon"></div>
            </div>
            <div class="timeline-desc">Technical Mechanics II (Prof. Dirk Mohr). Helping students in understanding the lecture material by revieving key concepts, solving exercises in small classes and developing custom teaching materials</div>
        </div>
    </div>

    <div class="timeline-item">
        <div class="timeline-date">2020-2024</div>
        <div class="timeline-track">
            <div class="timeline-line"></div>
            <div class="timeline-dot"></div>
        </div>
        <div class="timeline-contentbox">
            <div class="timeline-title">Industry Internship</div>
            <div class="timeline-loc">
                ETH Zürich
                <div class="timeline-locicon"></div>
            </div>
            <div class="timeline-desc">Internship for 5 months in the R&D department for cardiovascular implants including catheters, angioplasty balloons and stents</div>
        </div>
    </div>

</div>