<!-- escape filter make symbols like "&" work properly in html -->
<!-- files in _data are automatically aggregated and served as loopable "colections" -->

<div class="timeline {{ include.extraclass }}">
    <div class="timeline-header sectionheader">{{ include.title }}</div>

    <!-- loop over main entries -->
    {% for item in include.items %}
        {% include timeline-item.html item=item %}

        <!-- loop over subentries (just nothing if there are no entries) -->
        {% for subitem in item.subitems %}
            {% include timeline-item.html item=subitem sub=true %}

        {% endfor %}
    {% endfor %}

</div>